html {
    font-size: 62.5%;
}

body{
    display: grid;
    grid-template-areas: "header header header header"
                         "hero hero hero hero"
                         "quemsomos quemsomos quemsomos quemsomos"
                         "servicos servicos servicos servicos"
                         "depoimentos depoimentos depoimentos depoimentos"
                         "cliente cliente cliente cliente"
                         "contato contato contato contato";
    grid-template-columns: repeat(4 1fr);
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
}

.header{
    grid-area: header;
}

.header .header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    min-height: 60px;
    background-color: #F4F4F5;
}

.header-container img {
    width: 90px;
    height: 100%;
}

.hero {
    grid-area: hero;
    height: 83vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../images/herobg.jpeg) center no-repeat;
    background-size: cover;
    position: relative;
}

.hero:before {
    content: url('../images/seta-baixo.png');
    position: absolute;
    bottom: 20px;
    animation: moverseta 0.7s infinite alternate ease-in-out;
}

.hero:after {
    content: url('../images/seta-baixo.png');
    position: absolute;
    bottom: 10px;
    animation: moverseta 0.65s infinite alternate ease-in-out;
}

@-webkit-keyframes moverseta{

    0% {
        -webkit-transform: translateY(0); opacity: 0.4;
    }

    100% {
        -webkit-transform: translateY(0.6rem); opacity: 0.;
        -webkit-filter: invert(0.9);
    }
}

.quemsomos{
    grid-area: quemsomos;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    background-color: #5E17EB;
    filter: drop-shadow(0 5px 6px #111111);
}

.quemsomos .conteudo {
    padding: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    animation: aparecer 1ms ease-in-out;
    animation-timeline: scroll();
    animation-range: cover 0% cover 20%;
}

.quemsomos .conteudo .texto{
    font-weight: 400;
    font-size: 1.8rem;
    margin: 30px 0;
    color: #F4F4F5;
}

.quemsomos .image {
    background: url(../images/logo-branco.png) center center no-repeat;
    background-size: contain;
    animation: aparecer 1ms ease;
    animation-timeline: scroll();
    animation-range: cover 0% cover 30%;
}

@media(max-width: 770px){
    .quemsomos{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .quemsomos .conteudo {
        padding: 50px 90px;
    }

    .quemsomos .conteudo .texto {
        margin: 0;
        text-align: center;
        font-size: 1.4rem;
    }
}

@media(max-width: 425px){
    .quemsomos .conteudo .texto {
        font-size: 1.3rem;
    }
}

.servicos{
    grid-area: servicos;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fcfcfc;
    padding: 100px 0;
}

.servicos h2{
    font-size: 3rem;
    margin-bottom: 4.5rem;
    text-transform: uppercase;
}

.servicos .itens ul{
    display: flex;
}

.servicos .item .img img{
    width: 55px;
    height: 50px;
}

.servicos .item {
    margin: 15px;
    width: 300px;
    height: 150px;
    padding: 15px;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 5px;
    border-top: 10px solid transparent;
    background: linear-gradient(#f8f8ff, #f8f8ff) padding-box, linear-gradient(to right, #5E17EB, #f4f4f5) border-box;
    cursor: pointer;
    position: relative;
}

.servicos .item::after{
    content: url("../images/more.png");
    position: absolute;
    bottom: -105px;
    right: 50px;
    transform: scale(0.15);
    transition: 0.2s ease-in-out;
}

.servicos .itens .item.marca, .servicos .itens .item.midia, .servicos .itens .item.redes, .servicos .itens .item.site{
    display: flex;
    flex-direction: column;
}

.servicos .item .desc{
    display: none;
    font-weight: 300;
    font-size: 1.3rem;
    margin-top: 10px;
}

.servicos .itens span{
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 1.5rem;
}

@media(max-width: 770px){
    .servicos .itens ul{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

 @media(max-width: 650px){
    .servicos .itens ul{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    } 
 }

 
 .depoimentos {
    grid-area: depoimentos;
    background-color: #030046;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

 .depoimentos .card{
    padding: 20px;
    border: 5px solid transparent;
    background: linear-gradient(#0c094f, #0c094f) padding-box, linear-gradient(to right, #5E17EB, #f4f4f5) border-box;
    border-radius: 10px;
    box-shadow: 0px 15px 20px -9px rgba(0,0,0,0.75);
    margin: 35px;
    max-width: 600px;
    display: none;
 }

 .depoimentos .card.mostrar{
    display: block;
 }

 .depoimentos .card .profile{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    color: #ffffff;
 }

.depoimentos .card .profile div{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.depoimentos .card .profile img{
    width: 50px;
    height: 50px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    margin: 10px;
}

.depoimentos .card .profile .nome{
    font-size: 1.5rem;
    font-weight: 700;
}

.depoimentos .card .profile .empresa {
    font-size: 1.2rem;
}

.depoimentos .card .feedback {
    line-height: 25px;
    margin-top: 15px;
    text-align: center;
    color: #ffffff;
}

.depoimentos .setas{
    display: flex;
    margin-bottom: 35px;
    gap: 10px;
    transition: ease-in-out;
}

.depoimentos .setas .setaReturn, .depoimentos .setas .setaNext{
    cursor: pointer;

}

.depoimentos .setaReturn{
    transform: rotateY(180deg);
}


/* .cliente{
    grid-area: cliente;
    padding: 250px;
    background-color: #000;
} */


.contato{
    grid-area: contato;
    background-color: #f4f4f5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contato .logo-footer{
    margin: 20px;
}

.contato .logo-footer img{
    width: 85px;
    height: 60px;
}

.contato .social nav ul{
    display: flex;
}

.contato .social nav ul li a{
    font-weight: 500;
    font-size: 1.8rem;
    margin:  0 20px;
    transition: 0.2s ease-in-out;
}

.contato .social nav ul li a:hover{
    color: #5E17EB;    
}

.contato .social .social-icon{
    display: flex;
    justify-content: center;
}

.contato .social .social-icon li a{
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: #5E17EB;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contato .social .social-icon li a:hover{
    box-shadow: 4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .5), 
    inset -4px -4px 6px 0 rgba(255,255,255,.1),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}

.contato .social .social-icon li a img{
    width: 27px;
    height: 100%;
}
.image-whats {
    position: fixed;
    cursor: pointer;
    width: 70px;
    height: 70px;
    bottom: 15px;
    right: 30px;
    padding: 8px;
    border-radius: 50%;
    background-color: transparent;
    border: 4px solid #25D366;
    transition: 0.3s ease-in;
}

.image-whats:hover{
    transform: scale(1.05);
    background-color: #25D366;
}

@media(max-width: 500px){

    .contato .social ul li a{
        margin: 10px;
    }

    .image-whats {
        right: 10px;
        transform: scale(0.8);
    }

    .image-whats:hover {
        transform: scale(0.9);
    }

    .contato .inde {
        font-size: 1.3rem;
    }
}

.contato .inde{
    margin-top: 20px;
    text-align: center;
}

/* Ativos */

.servicos .item.ativo{
    height: 300px;
}

.servicos .item.ativo .desc{
    display: block;
}

.servicos .item.ativo::after{
    transform: rotate(45deg) scale(0.15);
    filter: opacity(0.8);
}

@-webkit-keyframes aparecer {
    0% {
        opacity: 0;
        translate: -100vw 0;
    }

    50% {
        opacity: 0.5;
    }

    100%{
        opacity: 1;
        translate: 0 0;
    }
}